.body
{
    margin: 20px;
}

.picture
{
    width:165px;
    border-radius: 5px;
}

.card
{
    display:flex;
    width:500px;
    justify-content: space-around;
    text-align: center;
    margin: 250px auto;
    padding:15px;
    background-color: #f4ab2de4;
    border-radius: 10px;
    border-bottom: 10px solid rgba(82, 82, 82, 0.955);
    border-left: 9px solid rgba(82, 82, 82, 0.955);
}